<!DOCTYPE HTML>
<html>
<head>
    <title>Welcome to Amy's kitchen</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
<body>
<!-- header -->

	<div class="header">
		
		<div class="container">
			
			<div class="header-left1">
				<div class="head-nav">
					<span class="menu"> </span>
						<ul>
							<li class="active"><a href="/">Home</a></li>			
							<li><a href="/contact">Contact</a></li>				
						</ul>

					</div>
					<div class="clearfix"> </div>
				</div>
					<div class="clearfix"> </div>
			</div>
	</div><br>
<!-- header -->

<!-- magnust -->	
	<div class="magnust">
		<div class="container">
      <h3 align="center"></h3><br>
      <div class="row">
			
      <div class="col-md-4 col-xs-4 ">

        <div class="magnust-left">
          <img src="https://cdn.glitch.com/2caecfa7-c063-4cff-90fd-b38f8bf0324c%2F9b.jpg?v=1575668390394" class="img-responsive" alt="">	
        </div>
        <div class="magnust-right">
          <br>
          <h4 style="color:#1E90FF">French Fries</h4>
          <p> Delicious and cheap fast food</p>
          
        </div>
          <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 magnust-top">
        <div class="magnust-left">
          <img src="https://cdn.glitch.com/2caecfa7-c063-4cff-90fd-b38f8bf0324c%2F8b.jpg?v=1575668390360" class="img-responsive" alt="">	
        </div>
        <div class="magnust-right">
          <br>
          <h4 style="color:#1E90FF">Green Tea</h4>
          <p> Make you fresh</p>
          
        </div>
          <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 magnust-top">
        <div class="magnust-left">
          <img src="https://cdn.glitch.com/2caecfa7-c063-4cff-90fd-b38f8bf0324c%2F10b.jpg?v=1575668390309" class="img-responsive" alt="">	
        </div>
        <div class="magnust-right">
          <br>
          <h4 style="color:#1E90FF">Hamburger</h4>
          <p> You will never feel hungry</p>
          
        </div>
          <div class="clearfix"> </div>
      </div>
        <div class="clearfix"> </div>
      </div>
	  </div>
	</div><br><br>
<!-- magnust -->	
  
  
<!-- register login -->
	<div class="login-page">
		<div class="container">
      <!--
      <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>-->
      
			<div class="row">
				<div class="col-md-6 col-xs-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
					<h3>NEW CUSTOMERS</h3>
					<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
          <br>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a class="acount-btn" href="/user/signup">Create an Account</a></button>
           
			   </div>
        
			   <div class="col-md-6 col-xs-6 login-right wow fadeInRight" data-wow-delay="0.4s">
					<h3>REGISTERED CUSTOMERS</h3>
					<p>If you have an account with us, please log in.</p>
					<form action="/login" method="post">
						<div>
							<span>Username<label>*</label></span>
							<input name="username" type="text" required autofocus>
						</div>
						<div>
							<span>Password<label>*</label></span>
							<input name="password" type="password" required>
						</div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
					</form>
			   </div>	
        
				<div class="clearfix"> </div>
			</div>
		</div>
	</div><br><br>


<!-- register login end -->	
  
  

</body>
</html>
