<!DOCTYPE HTML>
<html>
<head>
<title>restaurant</title>
<link href="../../style2.css" rel="stylesheet" type="text/css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
  </head>
  <body>

    <div class="main-1">
		<div class="container">
			<div class="register">
		  	  <form action="/user/signup" method="post"> 
				 <div class="register-top-grid">
					<h3>PERSONAL INFORMATION</h3>
           <div class="wow fadeInLeft" data-wow-delay="0.4s">
						<span>User Name<label>*</label></span>
						<input type="text" name="username" required="required"> 
					 </div>
           <div class="wow fadeInRight" data-wow-delay="0.4s">
						<span>Name<label>*</label></span>
						<input type="text" name="name"> 
					 </div>
           <div class="wow fadeInLeft" data-wow-delay="0.4s">
						<span>city<label>*</label></span>
						<input type="text" name="city" > 
					 </div>
           <div class="wow fadeInLeft" data-wow-delay="0.4s">
						<span>state<label>*</label></span>
						<input type="text" name="state" > 
					 </div>
           <div class="wow fadeInLeft" data-wow-delay="0.4s">
						<span>zip<label>*</label></span>
						<input type="text" name="zip"> 
					 </div>
           <div class="wow fadeInLeft" data-wow-delay="0.4s">
						<span>telephone<label>*</label></span>
						<input type="text" name="phone"> 
					 </div>
					 <div class="wow fadeInRight" data-wow-delay="0.4s">
						 <span>Email Address<label>*</label></span>
						 <input type="text" name="email"> 
					 </div>
				     <div class="register-bottom-grid">
						    <h3>LOGIN INFORMATION</h3>
							 <div class="wow fadeInLeft" data-wow-delay="0.4s">
								<span>Password<label>*</label></span>
								<input type="password" name="password" required="required">
							 </div>
               <div class = "register-but">
                 <input type="submit" value="submit">
					 </div>
				<div class="clearfix"> </div>
		   </div>
		 </div>
	</div>

    
    
  </body>
  
  
  
</html>
